:root {
  --iriscolor: #4d5ae5;
  --navyblue: #2e2f42;
  --blackcolor: black;
  --whitecolor: white;
  --slatecolor: #434455;
  --oceancolor: #404bbf;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
  --graysish: #757575;
  --darkcolor: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--whitecolor);
  color: var(--graysish);
  font-size: 16px;
  letter-spacing: 0.03em;
  font-family: "Roboto", sans-serif;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-top-padding {
  padding-top: 0px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.menu,
.navigation,
.nav-menu,
.contacts-menu {
  display: flex;
  align-items: center;
}

.page-header {
  border-bottom: 1px solid var(--cornflower, #e7e9fc);
}

.logo-link {
  text-decoration: none;
  font-size: 0;
}

.logo-link.footer {
  margin-bottom: 20px;
}

.logo-link > span {
  font-size: 18px;
}

.logo,
.studio {
  color: var(--iriscolor);
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  display: inline-block;
}

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.studio {
  color: var(--navyblue);
}

.nav-menu .page,
.contacts-menu .contact {
  color: var(--navyblue);
  font-size: 16px;
  text-decoration: none;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: block;
  padding-top: 32px;
  padding-bottom: 31px;
}

.nav-menu {
  margin-left: 93px;
}

.contacts-menu {
  margin-left: 298px;
}

.nav-menu .item:not(:last-child),
.contacts-menu .item:not(:last-child) {
  margin-right: 50px;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page.current,
.contacts-menu .contact:hover,
.contacts-menu .contact:focus {
  color: var(--iriscolor);
}

.nav-menu .item {
  font-size: 16px;
}

.contacts-menu .contact {
  color: var(--navyblue);
}

.bg-hero {
  background-color: var(--navyblue);
}

.hero-title {
  color: var(--whitecolor);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.36;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
}

.button {
  cursor: pointer;
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
  border-radius: 4px;
}

.button.filter {
  padding: 6px 22px;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  color: var(--iriscolor);
  background-color: var(--cloud);
}

.button.primary:hover,
.button.primary:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba (0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button.primary {
  color: var(--whitecolor);
  background-color: var(--iriscolor);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.benefits .title {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 10px;
}

.benefits .item {
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.benefits .description {
  line-height: 1.71;
  font-size: 16px;
  font-weight: 400;
  color: var(--slatecolor);
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.bg-team {
  background-color: var(--cloud);
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  color: var(--navyblue);
  text-align: center;
  margin-bottom: 50px;
}

.what-we-do {
  margin-right: -30px;
  margin-left: -30px;
  display: flex;
  flex-wrap: wrap;
}

.what-we-do .item {
  flex-basis: calc(100% / 3 -30px);
  margin-left: 30px;
  margin-top: 30px;
}

.team .name,
.team .position {
  line-height: 1.19;
  text-align: center;
  padding-top: 30px;
}

.team .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
}

.team .position {
  font-size: 16px;
  color: var(--slatecolor);
  font-weight: 400;
  line-height: 1.19;
}

.team {
  margin-top: 30px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team .item {
  padding-bottom: 30px;
  background-color: var(--whitecolor);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
}

.substrate {
  background-color: var(--whitecolor);
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.studio-2 {
  color: var(--whitecolor);
}

.bg-footer {
  background-color: var(--navyblue);
}

.footer-description {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.32px;
  padding-top: 17px;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  background-color: var(--oceancolor);
  color: var(--whitecolor);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filters {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filters.space + .space {
  margin-left: 8px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project .name {
  color: var(--navyblue);
  font-weight: 500;
  font-size: 20px;
  line-height: 2;
  margin-bottom: 4px;
  letter-spacing: 0.06em;
}

.project .type {
  color: var(--slatecolor);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.87;
}

.project-card {
  flex-basis: calc(100% / 3- 30px);
  margin-left: 30px;
  margin-top: 30px;
}
